<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO3180 Flask App - Lab 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <div class="container">
      <h1>Samath Scott</h1>
      <p>I am a Computer Programmer With 7 year of Programming Experience. Proficient or familiar with a vast array of programming
          languages, concepts and technologies, including: Java, JavaScript,Visual Basic, C#, CSS, HTML, XML, PHP, JQuery,
          Unity3D, SQL Server, Python, MySQL, C and C++. Founder of http://www.sourcecodeera.com/</p>
    </div>
  </body>
</html>
